<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590204808750-n9lm5icup7s6jbnv8e5ijfhbs81v4ij5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590204808750-n9lm5icup7s6jbnv8e5ijfhbs81v4ij5</string>
	<key>API_KEY</key>
	<string>AIzaSyDOAFitAMF_gVBRJzPOtfLvseFuDg5XaC4</string>
	<key>GCM_SENDER_ID</key>
	<string>590204808750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FoodOrderingApp</string>
	<key>PROJECT_ID</key>
	<string>foodorderingapp-d467b</string>
	<key>STORAGE_BUCKET</key>
	<string>foodorderingapp-d467b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590204808750:ios:77693fc255340618e3b9bf</string>
</dict>
</plist>